.list-item{
    display: flex !important;
    align-items: center;
    cursor: pointer;
    padding: auto;
}
.list-item:hover{
    transform: scale(1.04);
}

.list-item.item img{  
max-width: 150px;
}

.date{
    font-size: 14px;
    font-weight: 500;
}